{% extends "layout.html" %}
{% block content %}
<div class="content-section" style="margin-top: 15px; display:grid; place-items: center;">
  <ul>
    <li class="priceListText">Kidskey: <span class="priceListTextGreen">2$</span></li>
    <hr>
    <li class="priceListText">English with Sandra: <span class="priceListTextGreen">3$</span></li>
    <hr>
    <li class="priceListText">Math with Tom: <span class="priceListTextGreen">2$</span></li>
    <hr>
    <li class="priceListText">Spanish with Sheila: <span class="priceListTextGreen">2$</span></li>
    <hr>
    <li class="priceListText">History: <span class="priceListTextGreen">2$</span></li>
    <hr>
    <li class="priceListText">Earth Science: <span class="priceListTextGreen">2$</span></li>
    <hr>
    <li class="priceListText">Swim team: </span> <span class="priceListTextGreen">1.50$</span></li>
  </ul>
</div>
{% endblock %}